@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* General app styles.*/

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;

  --amber-100: #fef3c7;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --slate-300: #cbd5e1;
  --slate-500: #64748b;
  --slate-700: #334155;
  --transparent: rgb(255, 255, 255, 0.2);

  height: 100%;
  width: 100%;

  color: white;

  background: linear-gradient(
    -45deg,
    var(--slate-300),
    var(--slate-700),
    var(--slate-500),
    black
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.app-container {
  padding: 3rem 1rem 2rem 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Header and footer.*/

header,
footer {
  background-color: var(--transparent);
  padding: 1rem;
  text-align: center;
}

/* Scrollbar.*/

.form-section::-webkit-scrollbar {
  width: 10px;
}

.form-section::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: white;
}

/* Form section.*/

.form-section {
  width: 375px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
  gap: 2rem;
  background-color: var(--transparent);
  height: 800px;
}

.form-container,
.contact-form {
  border: 1px solid var(--slate-300);
  background-color: rgba(255, 255, 255, 0.1);
  width: 280px;
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.panel {
  border-bottom: 1px solid white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: start;
}

/*Resume preview.*/

.preview {
  font-family: serif;
  color: black;
  background-color: white;
  padding: 1rem 1.2rem;
  flex-direction: column;
  display: flex;
  flex-basis: 50%;
}

.preview .name {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 0.5rem;
}

/* Resume preview: contact info.*/

.contact-info-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.preview .contact-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/*Resume preview: work.*/

.work-section {
  margin-bottom: 1rem;
}

.work-section-one div {
  display: flex;
}

p:nth-child(1) span {
  font-weight: bold;
}

/* Resume preview: skills.*/

.skills-section {
  margin-bottom: 1rem;
}

.skill-item {
  color: var(--amber-100);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.skill-list {
  display: grid;
  justify-items: center;
  row-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.buttons {
  display: flex;
  gap: 0.2rem;
}

.skill-form-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  width: 340px;
  font-size: 0.8rem;
}

/* Resume preview: education.*/

.education-section-one div {
  display: flex;
}

/*Inputs. */

.input-section {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  font-size: 0.8rem;
  outline: none;
  border: none;
  color: var(--amber-600);
  width: 100%;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  background-color: var(--amber-100);
}

/* Buttons. */

button {
  background-color: var(--amber-600);
  border: none;
  color: white;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
}

button:focus,
button:hover {
  background-color: var(--amber-500);
}

/* Images. */

img {
  width: 15px;
  -webkit-filter: invert(100%);
}

/*Shared styles. */

.work-experience,
.education-experience {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.work-experience span {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.work-experience-list,
.education-experience-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.education-section-one,
.work-section-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.section-two {
  margin-bottom: 0.5rem;
}

/* Media queries. */

@media only screen and (max-width: 1200px) {
  .form-section {
    width: 80vw;
  }

  .preview {
    flex-basis: 80%;
  }

  .form-container,
  input,
  label,
  .skill-form-list {
    width: 52vw;
  }

  .input-section {
    flex-direction: column;
  }

  .skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
