@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  box-sizing: border-box;

  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --transparent: rgb(255, 255, 255, 0.2);

  height: 100%;
  width: 100%;

  color: white;

  background: linear-gradient(
    -45deg,
    var(--slate-300),
    var(--slate-700),
    var(--slate-500),
    black
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Header styles. */

header,
footer {
  background-color: var(--transparent);
  padding: 1rem;
  text-align: center;
}

/*App container styles. */

.app-container {
  padding: 3rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.preview {
  font-family: serif;
  color: black;
  border: 1px solid black;
  background-color: white;
  flex-basis: 50%;
  padding: 1rem;
}

.preview,
.form-section {
  height: 800px;
}

.margin {
  border: 1px solid blue;
}

/* Scrollbar styles. */

.form-section::-webkit-scrollbar {
  width: 10px;
}

.form-section::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: white;
}

/* Form section 1/2 page. */
.form-section {
  padding: 1rem;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 2rem;
  background-color: var(--transparent);
}

/* Contact, work, skills, and education form containers. */

.form-container {
  border: 1px solid var(--slate-300);
  background-color: rgba(255, 255, 255, 0.1);
  width: 350px;
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.panel {
  border-bottom: 1px solid white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

/* Contact info styles.*/

.contact-info-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.preview .contact-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.preview .name {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
/* Resume Preview Section heading styles.*/
h4 {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 0.5rem;
}

/*Resume Preview Work section. */

.work-section {
  margin-bottom: 1rem;
}
.work-section-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.work-section-one div {
  display: flex;
}

p:nth-child(1) {
  font-weight: bold;
}

.preview .skill {
  border: 1px solid red;
  list-style-position: inside;
}

.preview .skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

/* Skills section. */
.skills-section {
  margin-bottom: 1rem;
}

.skill-item {
  color: var(--amber-100);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 0.2rem;
}

.skill-form-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

/* Education section styles. */
.education-section-one {
  display: flex;
  justify-content: space-between;
}

.education-section-one div {
  display: flex;
}

/*Input section styles. */
.input-section {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  /* flex: 1; */
  font-size: 0.8rem;
  outline: none;
  border: none;
  color: var(--amber-600);
}

button {
  background-color: var(--amber-600);
  border: none;
  color: white;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
}

button .show {
}

button:focus,
button:hover {
  background-color: var(--amber-500);
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  background-color: var(--amber-100);
}

img {
  width: 20px;
  -webkit-filter: invert(100%);
}
/* Work form styles. */
.work-experience,
.education-experience {
  display: flex;
  justify-content: space-between;
}

.work-experience span {
  display: flex;
  gap: 0.5rem;
}

.work-experience-list,
.education-experience-list {
  display: grid;
  gap: 0.5rem;
}
